.footer{
    background-color: black;
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    color: rgb(194, 184, 184);
    
    padding: 3rem;
}
.news-section{
    display: flex;
    align-items: center;

}
.news-section img{
    height: 50px;
    width: 50px;

}

@media (min-width:1200px){
    .footer{
        grid-template-columns: repeat(3,1fr);
    }
}

@media (max-width:576px){
    .footer{
        grid-template-columns: 1fr;
     
    }
}